<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if params[:controller] == 'home' %>"><%= link_to "Home", root_url %></li>
        <li class="<%= 'active' if params[:controller] == 'pages' && params[:action] == "help" %>"><%= link_to "Help", help_path %></li>
        <li class="<%= 'active' if params[:controller] == 'pages' && params[:action] == "about" %>"><%= link_to "About", about_path %></li>
        </li>
      </ul>
      <%= form_tag(url_for(controller: "home", action: "submit"), method: "post", class: "navbar-form navbar-right" ) do %>
        <div class="form-group">
        <%= label_tag(:steamid, "steamcommunity.com/id/") %>
        <%= text_field_tag(:steamid, '', placeholder: "Steam Username", type: "text", class: "form-control") %>
        </div>
        <%= submit_tag("Look Up", class: "btn btn-default") %>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>