<% provide(:title, @user.personaname) %>
<% provide(:type, "Profile") %>
<div class="container-fluid" style="margin-top:20px;">
  <div class="row">
		<div class="col-xs-2" style="min-width: 150px">
	      <h3 class="text-left">Filters</h3>
	      <div class="well well-sm" style="min-width: 160px;">
	      	<%= render 'filters.html.erb' %>
	      </div>
		</div>
		<div class="col-xs-9">
			<h3 class="text-left">Games (<%= @gamelist.length %>)</h3>
			<div class="well">
				<% if @gamelist.length < 1 %>
					<h2>No games returned. Select less filters</h2>
				<% else %>
					<div class="btn-row" style="padding-bottom: 10px; margin-top: -5px;">
						<%= link_to "Run Random Game", "steam://run/#{@gamelist.sample['appid']}", htmloptions={class: "random-button btn btn-default pull-right", role: "button"}   %>
					</div>
					<table id="gametable" class="table table-striped table-bordered" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th>Image</th>
								<th>Name</th>
								<th>Time Played</th>
								<th>Genres</th>
								<th>Themes</th>
								<th>Concepts</th>
								<th>Launch Game</th>
							</tr>
						</thead>
						<tbody>
							<% @gamelist.each do |game| %>
	  							<tr>
	  								<td><img src="<% if game.image != nil %>
		  									<%= game.image %>
		  								<% else %>
		  									<%= asset_path 'missing.jpg' %>
		  								<% end %>" />
		  							</td>
	  								<td class="game-name"><%=link_to game.name, game.site_detail_url, target: "_blank" %></td>
	  								<td class="playtime_forever"><%= game.users_games[0].playtime_forever %></td>
	  								<td>
	  									<% genre_list = "" 
	  									game.game_genres.each do |genre|
	  										genre_list += "#{genre.genre}, "
	  									end %>
	  									<%= genre_list[0..-3] %>
	  								</td>
	  								<td>
	  									<% theme_list = ""
	  									game.game_themes.each do |theme|
	  										theme_list += "#{theme.theme}, "
	  									end %>
	  									<%= theme_list[0..-3] %>
	  								</td>
	  								<td>
	  									<% concept_list = ""
	  									game.game_concepts.each do |concept| 
	  										concept_list += "#{concept.concept}, "
	  									end %>
	  									<%= concept_list[0..-3] %>
	  								</td>
	  								<td><%= link_to "Run", "steam://run/#{game.appid}", htmloptions = {class: "btn btn-primary btn-lg btn-block", role: "button", type: "button", style: "color:white" }  %></td>
	  							</tr>
							<% end %>
						</tbody>
					</table>
					<div class="btn-row" style="padding-top: 10px; margin-bottom: -5px;">
						<%= link_to "Run Random Game", "steam://run/#{@gamelist.sample['appid']}", htmloptions = {class: "random-button btn btn-default pull-right", role: "button"} %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>