<!DOCTYPE html>
<html>
<head>
  <title>SteamLibrarian</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/globalheader.html.erb' %>
  <%= render 'layouts/navbar.html.erb' %>
  <div id="body_content">
    <%= yield %>
    <%= render 'layouts/body.html.erb' %>
  </div>
  <%= render 'layouts/footer.html.erb' %>
</body>
</html>
