<!DOCTYPE html>
<html>
<%= render 'shared/header' %>
<body>
  <%= render 'shared/globalheader' %>
  <%= render 'shared/navbar' %>
  <div id="body_content">
    <%= yield %>
    <%= render 'shared/footer' %>
  </div>
</body>
</html>
