<!DOCTYPE html>
<html>
<%= render 'shared/header' %>
<body>
  <div id="background">
    <% if !(params[:controller] == 'home' && params[:action] == 'index') %>
      <%= render 'shared/globalheader' %>
      <%= render 'shared/navbar' %>
    <% end %>
    <div id="body-content">
      <%= yield %>
    </div>
  </div>
  <%= render 'shared/footer' %>
</body>
</html>
