<!DOCTYPE html>
<html>
<head>
  <title>SteamLibrarian</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="global_header">
    <div class="content">
      <div class="logo"></div>
    </div>
  </div>
  
  <div id="body_content">
    <%= render 'layouts/navbar.html.erb' %>
    <%= yield %>
  </div>
  <div id="footer">
    <div class="footer_content"></div>
  </div>
</body>
</html>
